openapi: 3.1.0
info:
  contact:
    email: support@sapliy.io
    name: Sapliy Support
    url: https://sapliy.io/support
  description: "Official API for the Sapliy Fintech Ecosystem. Build robust financial\
    \ applications with our type-safe, high-integrity platform."
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  title: Sapliy Fintech API
  version: 1.0.0
servers:
- description: Production API
  url: https://api.sapliy.io
- description: Local Development (Gateway)
  url: http://localhost:8080
paths:
  /v1/auth/register:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/_v1_auth_register_post_request"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/_v1_auth_register_post_201_response"
          description: Created
      summary: Register a new user
      tags:
      - Auth
  /v1/auth/login:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/_v1_auth_register_post_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/_v1_auth_register_post_201_response"
          description: OK
      summary: Login
      tags:
      - Auth
  /v1/payments:
    post:
      operationId: createPaymentIntent
      parameters:
      - $ref: "#/components/parameters/ZoneIdHeader"
      - $ref: "#/components/parameters/ZoneModeHeader"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createPaymentIntent_request"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentIntent"
          description: Created
        "400":
          $ref: "#/components/responses/BadRequest"
      security:
      - ApiKeyAuth: []
      summary: Create a Payment Intent
      tags:
      - Payments
  /v1/payments/intents/{id}/confirm:
    post:
      operationId: confirmPaymentIntent
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - $ref: "#/components/parameters/ZoneIdHeader"
      - $ref: "#/components/parameters/ZoneModeHeader"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/confirmPaymentIntent_request"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentIntent"
          description: Confirmed
      security:
      - ApiKeyAuth: []
      summary: Confirm a Payment Intent
      tags:
      - Payments
  /v1/ledger/accounts:
    post:
      parameters:
      - $ref: "#/components/parameters/ZoneIdHeader"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/_v1_ledger_accounts_post_request"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LedgerAccount"
          description: Created
      security:
      - ApiKeyAuth: []
      summary: Create Ledger Account
      tags:
      - Ledger
  /v1/ledger/transactions:
    post:
      parameters:
      - $ref: "#/components/parameters/ZoneIdHeader"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/_v1_ledger_transactions_post_request"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/_v1_ledger_transactions_post_201_response"
          description: Recorded
      security:
      - ApiKeyAuth: []
      summary: Record Transaction
      tags:
      - Ledger
  /v1/wallets/{user_id}:
    get:
      operationId: getWallet
      parameters:
      - explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: string
        style: simple
      - $ref: "#/components/parameters/ZoneIdHeader"
      - $ref: "#/components/parameters/ZoneModeHeader"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Wallet"
          description: OK
      security:
      - ApiKeyAuth: []
      summary: Get Wallet Balance
      tags:
      - Wallets
  /v1/wallets/topup:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/_v1_wallets_topup_post_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/_v1_wallets_topup_post_200_response"
          description: OK
      security:
      - ApiKeyAuth: []
      summary: Top up a wallet
      tags:
      - Wallets
  /v1/wallets/transfer:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/_v1_wallets_transfer_post_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/_v1_wallets_topup_post_200_response"
          description: OK
      security:
      - ApiKeyAuth: []
      summary: Transfer between wallets
      tags:
      - Wallets
  /v1/billing/subscriptions:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/_v1_billing_subscriptions_post_request"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Subscription"
          description: Created
      security:
      - ApiKeyAuth: []
      summary: Create Subscription
      tags:
      - Billing
  /v1/events/emit:
    post:
      operationId: emitEvent
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/emitEvent_request"
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/emitEvent_202_response"
          description: Accepted
      security:
      - ApiKeyAuth: []
      summary: Emit an Event
      tags:
      - Events
  /v1/ledger/accounts/{id}:
    get:
      operationId: getLedgerAccount
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - $ref: "#/components/parameters/ZoneIdHeader"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LedgerAccount"
          description: OK
      security:
      - ApiKeyAuth: []
      summary: Get Ledger Account details
      tags:
      - Ledger
  /v1/ledger/transactions/{id}:
    get:
      operationId: getLedgerTransaction
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - $ref: "#/components/parameters/ZoneIdHeader"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LedgerTransaction"
          description: OK
      security:
      - ApiKeyAuth: []
      summary: Get Ledger Transaction details
      tags:
      - Ledger
  /v1/billing/subscriptions/{id}:
    delete:
      operationId: cancelSubscription
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Canceled
      security:
      - ApiKeyAuth: []
      summary: Cancel Subscription
      tags:
      - Billing
    get:
      operationId: getSubscription
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Subscription"
          description: OK
      security:
      - ApiKeyAuth: []
      summary: Get Subscription details
      tags:
      - Billing
components:
  parameters:
    ZoneIdHeader:
      description: The ID of the zone for this request.
      explode: false
      in: header
      name: X-Zone-ID
      required: true
      schema:
        type: string
      style: simple
    ZoneModeHeader:
      description: The mode of the zone (live or test).
      explode: false
      in: header
      name: X-Zone-Mode
      required: false
      schema:
        enum:
        - live
        - test
        type: string
      style: simple
  responses:
    BadRequest:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
      description: Invalid request parameters.
    Unauthorized:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
      description: Authentication failed.
    NotFound:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
      description: Resource not found.
    InternalError:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
      description: Internal server error.
  schemas:
    ErrorEnvelope:
      example:
        error:
          trace_id: trace_id
          code: RATE_LIMIT_EXCEEDED
          message: Rate limit exceeded. Retry after 60 seconds.
          request_id: request_id
      properties:
        error:
          $ref: "#/components/schemas/ErrorEnvelope_error"
    PaymentIntent:
      example:
        amount: 2000
        metadata:
          key: metadata
        description: description
        created_at: 2000-01-23T04:56:07.000+00:00
        currency: USD
        id: pi_12345
        client_secret: client_secret
        status: requires_payment_method
      properties:
        id:
          example: pi_12345
          type: string
        amount:
          example: 2000
          format: int64
          type: integer
        currency:
          example: USD
          type: string
        status:
          enum:
          - requires_payment_method
          - requires_confirmation
          - requires_action
          - processing
          - requires_capture
          - canceled
          - succeeded
          type: string
        client_secret:
          description: Used for client-side confirmation.
          type: string
        description:
          type: string
        metadata:
          additionalProperties:
            type: string
        created_at:
          format: date-time
          type: string
      required:
      - amount
      - currency
      - id
      - status
    Wallet:
      example:
        balance: 0
        user_id: user_id
        currency: currency
        id: id
      properties:
        id:
          type: string
        user_id:
          type: string
        balance:
          format: int64
          type: integer
        currency:
          type: string
      required:
      - balance
      - currency
      - id
      - user_id
    LedgerAccount:
      example:
        balance: 0
        name: name
        currency: currency
        id: id
        type: type
      properties:
        id:
          type: string
        name:
          type: string
        type:
          type: string
        currency:
          type: string
        balance:
          format: int64
          type: integer
      required:
      - currency
      - id
      - name
      - type
    LedgerTransaction:
      example:
        entries:
        - amount: 0
          account_id: account_id
        - amount: 0
          account_id: account_id
        reference_id: reference_id
        description: description
        id: id
        status: status
      properties:
        id:
          type: string
        reference_id:
          type: string
        description:
          type: string
        status:
          type: string
        entries:
          items:
            $ref: "#/components/schemas/LedgerEntry"
          type: array
      required:
      - id
      - reference_id
      - status
    LedgerEntry:
      example:
        amount: 0
        account_id: account_id
      properties:
        account_id:
          type: string
        amount:
          format: int64
          type: integer
      required:
      - account_id
      - amount
    User:
      example:
        email_verified: true
        id: id
        email: email
      properties:
        id:
          type: string
        email:
          type: string
        email_verified:
          type: boolean
      required:
      - email
      - id
    Subscription:
      example:
        id: id
        current_period_end: 2000-01-23T04:56:07.000+00:00
        plan_id: plan_id
        status: active
      properties:
        id:
          type: string
        status:
          enum:
          - active
          - canceled
          - past_due
          - incomplete
          type: string
        plan_id:
          type: string
        current_period_end:
          format: date-time
          type: string
      required:
      - id
      - plan_id
      - status
    _v1_auth_register_post_request:
      properties:
        email:
          type: string
        password:
          type: string
      required:
      - email
      - password
    _v1_auth_register_post_201_response:
      example:
        user:
          email_verified: true
          id: id
          email: email
        token: token
      properties:
        token:
          type: string
        user:
          $ref: "#/components/schemas/User"
    createPaymentIntent_request:
      properties:
        amount:
          format: int64
          type: integer
        currency:
          type: string
        description:
          type: string
        metadata:
          additionalProperties:
            type: string
      required:
      - amount
      - currency
    confirmPaymentIntent_request:
      properties:
        payment_method_id:
          type: string
    _v1_ledger_accounts_post_request:
      properties:
        name:
          type: string
        type:
          type: string
        currency:
          type: string
        user_id:
          type: string
      required:
      - name
      - type
    _v1_ledger_transactions_post_request:
      properties:
        reference_id:
          type: string
        description:
          type: string
        entries:
          items:
            $ref: "#/components/schemas/LedgerEntry"
          type: array
      required:
      - entries
      - reference_id
    _v1_ledger_transactions_post_201_response:
      example:
        status: status
      properties:
        status:
          type: string
    _v1_wallets_topup_post_request:
      properties:
        amount:
          format: int64
          type: integer
        currency:
          type: string
        reference_id:
          type: string
      required:
      - amount
      - currency
      - reference_id
    _v1_wallets_topup_post_200_response:
      example:
        transaction_id: transaction_id
        status: status
      properties:
        transaction_id:
          type: string
        status:
          type: string
    _v1_wallets_transfer_post_request:
      properties:
        to_user_id:
          type: string
        amount:
          format: int64
          type: integer
        currency:
          type: string
        reference_id:
          type: string
      required:
      - amount
      - currency
      - reference_id
      - to_user_id
    _v1_billing_subscriptions_post_request:
      properties:
        plan_id:
          type: string
        customer_id:
          type: string
      required:
      - plan_id
    emitEvent_request:
      properties:
        type:
          type: string
        data:
          type: object
        idempotency_key:
          type: string
      required:
      - type
    emitEvent_202_response:
      example:
        event_id: event_id
        status: status
      properties:
        event_id:
          type: string
        status:
          type: string
    ErrorEnvelope_error:
      example:
        trace_id: trace_id
        code: RATE_LIMIT_EXCEEDED
        message: Rate limit exceeded. Retry after 60 seconds.
        request_id: request_id
      properties:
        code:
          example: RATE_LIMIT_EXCEEDED
          type: string
        message:
          example: Rate limit exceeded. Retry after 60 seconds.
          type: string
        request_id:
          type: string
        trace_id:
          type: string
      required:
      - code
      - message
  securitySchemes:
    ApiKeyAuth:
      description: Use your secret or publishable API key as a Bearer token.
      scheme: bearer
      type: http
    CookieAuth:
      description: Session token used for dashboard and frontend requests.
      in: cookie
      name: auth-token
      type: apiKey
