name: CI - fintech-sdk-go

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]

jobs:
    test:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: actions/setup-go@v5
              with:
                  go-version: "1.24"
            - name: Run Tests
              run: cd fintech-sdk-go && go test -v ./...
